<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What is a COMPOSTABLE Bag?</h2>
                <hr class="light">
                <p class="text-faded">Unlike standard plastic bags, compostable bags are made of vegetable matter, such as corn or potato starch. When exposed to enough moisture and air, the bags will compost, right along with whatever was placed inside them. These bags decay over short period of time so is environment friendly.</p>
                <a href="#contact" class="btn btn-default btn-xl">Enquire Now!</a>
            </div>
        </div>
    </div>
</section>
