<footer>
    <div class="container">
        <div class="footer-outer">
            <div class="footer-box full">
                <div class="footer-content">
                    <div class="footer-logo">
                        <img src="assets/img/home/logo.png" alt="">
                    </div>

                    <div class="footer-social-box">
                        <h6>Follow Us</h6>
                        <ul class="social-list">
                            <li>
                                <a href="https://www.facebook.com/horizonbags/">
                                    <img src="assets/img/home/facebook-logo.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/horizon-worldwide/">
                                    <img src="assets/img/home/linkedin-logo.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/EndeavorHorizon">
                                    <img src="assets/img/home/twitter.svg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="https://instagram.com/horizonindustries?igshid=1rpatxd7hg95f">
                                    <img src="assets/img/home/instagram-logo.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="footer-box hide-mo">
                <div class="footer-link-box">
                    <h6>Useful Links</h6>
                    <ul class="footer-links">
                        <li><a href="index.php">Home</a></li>
                        <li><a href="about.php">About</a></li>
                        <li><a href="product.php">Products</a></li>
                        <li><a href="eco-friendly.php">Eco-Friendly</a></li>
                        <li><a href="contact.php">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-address-box">
                    <h6>Asia regional Office:</h6>
                    <p>Horizon Worldwide Endeavor Private Limited <br>Pot Number 183, HSIIDC Rai Industries,<br> Sonipat, New Delhi, India <br>PIN - 131029 <br>Working Days - Monday to Saturday</p>
                    <ul class="footer-socila-links">
                        <li><a href="https://api.whatsapp.com/send?phone=+918295802565" data-action="share/whatsapp/share" target="_blank"><span><img src="assets/img/home/whatsapp.svg" alt=""></span></a>
                            <a href="tel:+91 8295802565"><span><img src="assets/img/home/blue-phone.svg" alt=""></span></a>+91 8295802565
                        </li>
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=+971 565763931" data-action="share/whatsapp/share" target="_blank"><span><img src="assets/img/home/whatsapp.svg" alt=""></span></a>
                            <a href="tel:+971 565763931"><span><img src="assets/img/home/blue-phone.svg" alt=""></span></a>+971 565763931
                        </li>
                        <li><a href="mailto:info@industries-horizon.com"><span><img src="assets/img//home/mail.svg" alt=""></span>Info@industries-horizon.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-address-box">
                    <h6>Middle East regional office:</h6>
                    <p>Horizon Worldwide Endeavor Private Limited <br>Subsidiary of Horizon Group of Companies <br>1303, 13 th Floor, 3 Sails Tower<br> Corniche St, Abu Dhabi <br>P.O .Box: 33023 <br>Working Days: Saturday to Thursday<br> FAX - +971
                        24455796 
                    </p>
                    <ul class="footer-socila-links">
                        <!-- <li><a href="tel:+971 24455793"><span><img src="assets/img/home/blue-phone.svg" alt=""></span>+971 24455793</a>
                        </li> -->
                        <li>
                            <a href="https://api.whatsapp.com/send?phone=+971565763931" data-action="share/whatsapp/share" target="_blank"><span><img src="assets/img/home/whatsapp.svg" alt=""></span></a><a href="tel:+971 565763931"><span><img src="assets/img/home/blue-phone.svg" alt=""></span>+971 565763931</a>
                        </li>
                        <li><a href="mailto:Info@horizon.ae"><span><img src="assets/img//home/mail.svg" alt=""></span> Info@horizon.ae</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2020 Horizon Worldwide. All Rights Reserved
            </p>
        </div>
    </div>
</footer>
